*{
	box-sizing: border-box;
	border: 0;
	margin: 0;
}

h1{
	margin-bottom: 15px;
	margin-top: 15px;
	font-family: "Times New Roman", Times, serif;
	color: red;
	text-align: center;
	font-size: 1.75em;
}

.container{
	border: 1px solid black;
	background-color: #FFFACD;
	width: 95%;
	height: 175px;
	margin: 6px;
	overflow: auto;
	padding: 0 0 10px 10px;
	font-family: Helvetica, sans-serif;
}

.title-region{
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	width: 35%;
	height: 40px;
	float: right;
	position: relative;
	margin-bottom: 13px;
	font-weight: bolder;
	font-size: 1.25em;
	text-align: center;
	padding: 6px;
	font-family: Georgia, serif;
}

.title-base-1{
	background-color: #F08080;
	color: black;
}

.title-base-2{
	background-color: #0000CD;
	color: white;
}

.title-base-3{
	background-color: #2F4F4F;
	color: yellow;
}

p{
	clear: right;
}

.row{
	width: 100%;
}

/** Desktop View Only ***/
@media (min-width: 992px) {
	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{
		float: left;
	}
	.col-lg-1{
		width: 8.33%;
	}
	.col-lg-2{
		width: 16.66%;
	}
	.col-lg-3{
		width: 25%;
	}
	.col-lg-4{
		width: 32%;
	}
	.col-lg-5{
		width: 41.66%;
	}
	.col-lg-6{
		width: 50%;
	}
	.col-lg-7{
		width: 58.33%;
	}
	.col-lg-8{
		width: 66.66%;
	}
	.col-lg-9{
		width: 74.99%;
	}
	.col-lg-10{
		width: 83.33%;
	}
	.col-lg-11{
		width: 91.66%;
	}
	.col-lg-12{
		width: 100%;
	}
}

/*** Tablet Device Only ****/
@media (min-width: 768px) and (max-width: 991px) {
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, 
	.col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{
		float: left;
	}
	.col-md-1{
		width: 8.33%;
	}
	.col-md-2{
		width: 16.66%;
	}
	.col-md-3{
		width: 25%;
	}
	.col-md-4{
		width: 33%;
	}
	.col-md-5{
		width: 41.66%;
	}
	.col-md-6{
		width: 48%;
	}
	.col-md-7{
		width: 58.33%;
	}
	.col-mdg-8{
		width: 66.66%;
	}
	.col-md-9{
		width: 74.99%;
	}
	.col-md-10{
		width: 83.33%;
	}
	.col-md-11{
		width: 91.66%;
	}
	.col-md-12{
		width: 97%;
	}
}

/* Mobile View will be automatic once the device is less than 768px